header {
    font-family: Arial, Helvetica, sans-serif;
    color: #cba6f7;
    text-align: center;
}

.main {
    padding: 5%;
    line-height: 5;
}

.buttonclass {
    display: block;
    background-color: #cba6f7;
    margin-bottom: auto;
}

button {
    display: block;
    margin-bottom: 10px;
}