header {
    font-family: Arial, Helvetica, sans-serif;
    color: #cba6f7;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 75px;
    font-size: xxx-large;
    font-style: italic;
    text-shadow: black 0px 0px 20px;
}

button {
    background-color: #cba6f7;
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 75px;
    padding-left: 75px;
    border-radius: 12px;
    color: #1e1e2e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    box-shadow: black 0px 0px 20px;
    
}

.buttonclass {
    padding-right: 89px;
}

.buttonclass1 {
    padding-right: 92px;
}

html {
    background-color: #1e1e2e;
}

footer {
    padding-top: 297px;
    text-align: center;
    color: #cba6f7;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black 1px 2px 1px;
    opacity: 10%;
}

.discord {
    opacity: 0;
}